.wrap
  margin: 0 auto
  width: 600px
.container
  display: flex
.board
  display: flex
.mass
  background-color: #bc672f
  width:  30px
  height: 30px
  border: 1px solid #000
  align-items: center
  text-align: center
  display: inline-flex
  justify-content: space-around
.white
  composes: fa fa-circle from 'font-awesome/css/font-awesome.css'
  font-size: large
  color: #FFF
.black
  composes: fa fa-circle from 'font-awesome/css/font-awesome.css'
  font-size: large
  color: #000
.title 
  composes: title is-3 from 'bulma'
.mask
  position: absolute
  top: 0
  left: 0
  background-color: #efefef
  opacity: .2
  width: 100%
  height: 100%
.information
  width: 30%
  margin-left: 5px
  background-color: #FFF
  color: #333
.histories
  height: 430px
  overflow-y: scroll
