.wrap
  composes: container from 'bulma'
.board
  composes: columns from 'bulma'
.mass
  composes: column icon from 'bulma'
  background-color: #bc672f
  width:  30px
  height: 35px
.white
  composes: fa fa-circle from 'font-awesome/css/font-awesome.css'
  color: #FFF
.black
  composes: fa fa-circle from 'font-awesome/css/font-awesome.css'
  color: #000
.title 
  composes: title is-3 from 'bulma'
